<!-- Footer section starts here -->
    <section class="divider  divider-bg-5  center" id="contact" name="contact">
        <div class="container">
            <h1>tied with love.</h1>
            <hr>
            <p>  33 Rudyard Lane, Jackson, WY</p>
            <p>+987 654 321</p>
            <p><a class="icon  icon-google-plus" href="#"></a> <a class="icon  icon-twitter" href="#"></a> <a class="icon  icon-facebook" href="#"></a> <a class="icon  icon-flickr" href="#"></a></p>
        </div>
    </section><!-- footer section ends -->


    <!-- Copyright section starts here -->
    <div class="copyright  center">
        <div class="container">
            <h5>&copy; Copyright 2014 <a href="#">Hidden Hook</a></h5>
        </div>
    </div><!-- copyright section ends -->