

<body class="animated fadeIn" data-spy="scroll" data-offset="0" data-target="#navbar-main">


    <!-- Fixed navigation starts  -->
    <div id="navbar-main">
        <div class="navbar  navbar-inverse  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon  icon-menu"></span>
                    </button>
                    <a class="navbar-brand  smoothScroll" href="#home"><span class="logo">hh</span></a> <!-- Branding -->
                </div>
                <div class="navbar-collapse  collapse">
                    <ul class="nav  navbar-nav  navbar-right">
                        <li><a href="#home" class="smoothScroll">home</a></li>
                        <li><a href="#about" class="smoothScroll">about</a></li>
                        <li><a href="#features" class="smoothScroll">flies</a></li>
                        <!-- <li><a href="#team" class="smoothScroll">Team</a></li> -->
                         <li><a href="#portfolio" class="smoothScroll">hh eaters</a></li>
                        <li><a href="#contact" class="smoothScroll">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- navigation ends -->


    <!-- Header starts here -->
    <div class="header-wrap  center" id="home" name="home">
        <header class="clearfix">

            <h1 class="animated  fadeInUp">hidden hook flies</h1>
            <p class="animated  fadeInUp">tested and proven worldwide</p>
        </header>     
    </div><!-- header ends -->
    
        <!-- About section starts here -->

    <div class="container" id="about" name="about">
        <div class="row">
            <br>
            <h1 class="center"> hidden hook flies</h1>
            <hr>
            <br>

            <div class="col-lg-4">
                <p>Hidden Hook is your source for premium flies. Every fly that leaves our shop is spun with top-of-the-line materials and components. At Hidden Hook we take pride in each fly that leaves the vice and guarantee their flawless performance. Each fly is hand tied by Hidden Hook founder Rudy Babikian.   </p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <p>Rudy was taught how to tie simple patterns when he was still shuffling around in a diaper. He was given his first tying vice when he was five years old by his father, George Babikian, an avid fly fisherman. Through his continued passion of fishing and tying, Rudy has become an accomplished tyer himself. See some of his favorite flies below.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <p>In addition to our proven flies and colors, we offer custom flies, from small changes to a current fly or a completely new design. We thrive in our ability to adapt to changes in fish behavior, different fish species, and environments through customization. Contact us today for custom flies perfectly suited to your needs.</p>
            </div><!-- col-lg-4 -->

        </div>
        <br>
    </div><!-- about section ends -->



    
    <!-- #1 Divider with few words/quote -->
    <section class="divider  divider-bg-1  center">

        <div class="container">
            <h1>"These flies make me hate my wife."</h1>
            <hr>
            <p> - Carl "GuiltyRod" Yurbinski</p>
        </div>

    </section><!-- #1 divider ends -->
        

    <!-- #1 Feature section starts here -->
    <div class="feature-wrap  left" id="features" name="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  center">
                    <%= image_tag('device.png', class: 'img-responsive') %>
                    <!-- <img class="img-responsive" src="assets/device.png"> -->
                </div>
                <div class="col-lg-6">

                    <h2>Dorado Deceiver</h2> <!-- Title -->
                    <p>Originally designed to target Golden Dorado, the Deceiver has proven to be a successful pattern around the world.

</p> <!-- Description -->
                    <p><a class="btn  btn-primary">Learn more</a></p>
                </div>          

            </div>
        </div>
        <br>
        <br>
    </div><!-- #1 feature section ends -->

    <hr> <!-- little grey line to separate -->

    <!-- #2 Feature section starts here -->
    <div class="feature-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>The Clacking Minnow</h2>
                    <p>A new spin on an old favorite.

The Clacking Minnow is a recent experiment that proved to be extremely successful on Cape Cod flats. </p>
                    <p><a class="btn  btn-primary">Learn more</a></p>
                </div>
                <div class="col-lg-6  center">
                    <img class="img-responsive" src="assets/img/device-2.png">
                </div>
            </div>
        </div>
        <br>
        <br>
    </div><!-- #2 feature section ends -->

    <hr> <!-- little grey line to separate -->

    <!-- #3 Feature section starts here -->
    <div class="feature-wrap  left" id="features" name="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  center">
                    <img class="img-responsive" src="assets/img/device.png">
                </div>
                <div class="col-lg-6">
                    <h2>The Protein Shake</h2> <!-- Title -->
                    <p>This fly has become my favorite large baitfish pattern.</p> <!-- Description -->
                    <p><a class="btn  btn-primary">Learn more</a></p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div><!-- #3 feature section ends -->


    <!-- #3 Divider with few words/quote -->
    <!-- <section class="divider  divider-bg-3  center">
        <div class="container">
            <h1> "Rudy is a true gangster and a gentleman, his customer service is fantastic."</h1>
            <hr>
            <p> - Laurence "Crunchy" Jenkins </p>
        </div>
    </section> --><!-- #3 divider ends -->


    <!-- Team/staff section starts here -->

    <!-- <div class="container" id="team" name="team">
        <br>
        <div class="row  center">
            <br>
            <h1 class="center">the man</h1>
            <hr>
            <br>
            <br>
<<<<<<< HEAD


            <div class="col-lg-3  center">
                <img class="img  img-circle  team-member" src="http://placesheen.com/155/155" height="155px" width="155px" alt="">
                <br>
                <h4><b>Rudy Babikian</b></h4>
                <a href="#">@rudethedude</a>
                <a href="#" class="icon icon-twitter"></a> Uncomment to use icons
                <a href="#" class="icon icon-facebook"></a>
                <p>When Rudy is not fishing and tying or massaging other dudes, he can be reached here.</p>
            </div>

        
        </div>
        <br>
    </div> --><!-- team/staff section ends -->


    <!-- #4 Divider with few words/quote -->
    <section class="divider  divider-bg-4  center">
        <div class="container">
            <h1>"I caught my first fish today on one of your flies. Thank you Rudy.  Are you single?"</h1>
            <hr>
            <p>Penelope "Pescadora Princesa" Ruíz</p>
        </div>
    </section><!-- #4 divider ends -->


    <!-- Portfolio section starts here -->
    <div class="container" id="portfolio" name="portfolio">
        <br>
        <div class="row">
            <br>
            <h1 class="center"> hidden hook eaters</h1>
            <hr>
            <br>
            <br>
        </div>
        <div class="container">
            <div class="row">


                <!-- #1 portfolio item -->
                <div class="col-md-6 ">
                    <div class="grid  mask">
                        <figure>
                            <img class="img-responsive" src="assets/img/portfolio/portfolio-1.jpg" alt="">
                            <figcaption>
                                <h5>PROJECT #1</h5>
                                <em>ui/ux design, development</em>
                                <a data-toggle="modal" href="#myModal">DETAILS</a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- #1 portfolio item ends -->

                <!-- Modal box for #1 portfolio item -->
                <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">Project Title #1</h3>
                            </div>
                            <div class="modal-body">
                                <p><img class="img-responsive" src="assets/img/portfolio/portfolio-1.jpg" alt=""></p>
                                <p>Your entrance was good, his was better. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ass you a few questions. we got no food we got no money and our pets heads are falling off! haaaaaaarry. we're going for a ride on the information super highway. brain freeze. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p>
                                <p><b><a href="http://graphicburger.com/real-estate-booking-ui-kit/" class="btn btn-success">View it live</a></b></p>
                            </div>
                        </div>
                    </div>
                </div><!-- #1 modal ends -->


                <!-- #2 portfolio item -->
                <div class="col-md-6">
                    <div class="grid  mask">
                        <figure>
                            <img class="img-responsive" src="assets/img/portfolio/portfolio-2-thumb.jpg" alt="">
                            <figcaption>
                                <h5>PROJECT #2</h5>
                                <em>ui/ux design</em>
                                <a data-toggle="modal" href="#myModal2">DETAILS</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div><!-- #2 portfolio item ends -->

            <!-- Modal box for #2 portfolio item -->
            <div class="modal  fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Project Title #2</h3>
                        </div>
                        <div class="modal-body">
                            <p><img class="img-responsive" src="assets/img/portfolio/portfolio-2.jpg" alt=""></p>
                            <p>It's because i'm green isn't it! alrighty then excuse me, i'd like to ass you a few questions. hey, maybe i will give you a call sometime. your number still 911? hey, maybe i will give you a call sometime. your number still 911? it's because i'm green isn't it! kinda hot in these rhinos.</p>
                            <p><b><a href="http://graphicburger.com/prasastienom-psd-admin-dashboard/" class="btn btn-success">View it live</a></b></p>
                        </div>
                    </div>
                </div>
            </div><!-- #2 modal ends -->


            <br>


            <!-- #3 portfolio item -->
            <div class="row">
                <div class="col-md-6">
                    <div class="grid  mask">
                        <figure>
                            <img class="img-responsive" src="assets/img/portfolio/portfolio-3.jpg" alt="">
                            <figcaption>
                                <h5>PROJECT #3</h5>
                                <em>branding, identity</em>
                                <a data-toggle="modal" href="#myModal3">DETAILS</a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- #3 portfolio item ends -->

                <!-- Modal box for #3 portfolio item -->
                <div class="modal  fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">Project Title #3</h3>
                            </div>
                            <div class="modal-body">
                                <p><img class="img-responsive" src="assets/img/portfolio/portfolio-3.jpg" alt=""></p>
                                <p>It's because i'm green isn't it! alrighty then excuse me, i'd like to ass you a few questions. hey, maybe i will give you a call sometime. your number still 911? hey, maybe i will give you a call sometime. your number still 911? it's because i'm green isn't it! kinda hot in these rhinos.</p>
                                <p><b><a href="http://graphicburger.com/branding-identity-mock-up-vol-2/" class="btn btn-success">View it live</a></b></p>
                            </div>
                        </div>
                    </div>
                </div><!-- #3 modal ends -->


                <!-- #4 portfolio item -->
                <div class="col-md-6">
                    <div class="grid  mask">
                        <figure>
                            <img class="img-responsive" src="assets/img/portfolio/portfolio-4.jpg" alt="">
                            <figcaption>
                                <h5>PROJECT #4</h5>
                                <em>design, full development</em>
                                <a data-toggle="modal" href="#myModal4">DETAILS</a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- #4 portfolio item ends -->

                <!-- Modal box for #4 portfolio item -->
                <div class="modal  fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">Project Title #4</h3>
                            </div>
                            <div class="modal-body">
                                <p><img class="img-responsive" src="assets/img/portfolio/portfolio-4.jpg" alt=""></p>
                                <p>It's because i'm green isn't it! alrighty then excuse me, i'd like to ass you a few questions. hey, maybe i will give you a call sometime. your number still 911? hey, maybe i will give you a call sometime. your number still 911? it's because i'm green isn't it! kinda hot in these rhinos.</p>
                                <p><b><a href="http://graphicburger.com/identity-branding-mock-up-vol-3/" class="btn btn-success">View it live</a></b></p>
                            </div>
                        </div>
                    </div>
                </div><!-- #4 modal ends -->


            </div>
            <br>
            <br>
        </div>
    </div><!-- portfolio section ends -->


    <!-- Footer section starts here -->
    <section class="divider  divider-bg-5  center" id="contact" name="contact">
        <div class="container">
            <h1>tied with love.</h1>
            <hr>
            <p>  33 Rudyard Lane, Jackson, WY</p>
            <p>+987 654 321</p>
            <p><a class="icon  icon-google-plus" href="#"></a> <a class="icon  icon-twitter" href="#"></a> <a class="icon  icon-facebook" href="#"></a> <a class="icon  icon-flickr" href="#"></a></p>
        </div>
    </section><!-- footer section ends -->


    <!-- Copyright section starts here -->
    <div class="copyright  center">
        <div class="container">
            <h5>&copy; Copyright 2014 <a href="#">Hidden Hook</a></h5>
        </div>
    </div><!-- copyright section ends -->


    <!-- Scripts -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script> <!-- Bootstrap core js -->
    <script type="text/javascript" src="assets/js/retina.js"></script> <!-- Retina.js; visit http://retinajs.com to see how it works and why use it -->
    <script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script> <!-- For scrolling -->
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script> <!-- For smooth scrolling -->

    </body>